.container {
  background-color: #043D2F;
  padding: 87px 16px 95px;

  .first_section {
    position: relative;

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 25px; /* 25.2px */
      letter-spacing: -0.54px;
      color: #BADCD3;
      text-align: center;
      margin-bottom: 40px;
      display: block;
    }

    > img {
      width: 100%;
      display: block;
    }
  }

  .vision {
    display: flex;
    flex-direction: column;
    gap: 51px;
    margin: 102px 0 110px;

    .title {
      font-size: 24px;
      font-weight: 400;
      line-height: 26px; /* 26.4px */
      letter-spacing: -0.48px;
      color: #BADCD3;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #BADCD3;
      word-break: keep-all;
    }
  }

  .second_section {
    position: relative;
    margin: 83px -16px 36px;

    img {
      width: 100%;
      object-fit: cover;
      min-height: 650px;
    }

    .text_box {
      position: absolute;
      top: 43px;
      left: 0;
      padding: 0 18px;
    }

    .title {
      font-size: 24px;
      font-weight: 400;
      line-height: 26px; /* 26.4px */
      letter-spacing: -0.48px;
      color: #BADCD3;
      margin-bottom: 32px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #BADCD3;
    }
  }

  .end_section {
    margin: 95px 0 0;

    img {
      width: 100%;
      display: block;
      max-width: 474px;
      margin: 0 auto;

      &:not(:nth-child(2)) {
        display: none;
      }
    }

    p {
      font-size: 32px;
      font-weight: 400;
      line-height: 38px; /* 38.4px */
      letter-spacing: -0.64px;
      text-align: center;
      color: #BADCD3;
      margin-top: 23px;
    }
  }

  @media screen and (min-width:1024px) {
    padding: 45px 16px 180px;

    .first_section {
      p {
        position: absolute;
        font-size: 36px;
        line-height: 36px;
        letter-spacing: -1.08px;
        max-width: 496px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      > img {
        max-width: 1000px;
        margin: 0 auto;
      }
    }  

    .vision {
      flex-direction: row;
      gap: initial;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 55px;
      margin: 67px 0 300px;

      .title {
        font-size: 32px;
        line-height: 35px;
        letter-spacing: -0.64px;
      }
    }

    .vision_text {
      display: flex;
      align-items: flex-start;
      gap: 83px;

      p {
        max-width: 400px;
        font-size: 18px;
        line-height: 23px;
      }
    }

    .second_section {
      margin-top: 180px;
      margin-bottom: 93px;

      img {
        max-height: 1000px;
      }

      .text_box {
        padding: 0 73px;
        top: 76px;
        max-width: 530px;
      }

      .title {
        font-size: 32px;
        line-height: 35px;
        letter-spacing: -0.64px;
        margin-bottom: 23px;
      }

      p {
        font-size: 18px;
        line-height: 23px;
      }
    }

    .end_section {
      margin-top: 233px;

      .img_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
      }

      img {
        margin: 0;
        width: calc((100vw * 474) / 1920);
        max-width: 474px;

        &:not(:nth-child(2)) {
          display: block;
        }
      }

      p {
        margin-top: 100px;
        font-size: 45px;
        line-height: 54px; /* 54px */
        letter-spacing: -0.9px;
      }
    }
  }
}