.container {
  width: 100%;
  height: 405px;
  background-color: #013024;

  .inner {
    padding: 22px 16px 29px;
    box-sizing: border-box;
    height: 100%;
  }

  .flex_wrap {
    display: flex;
    flex-direction: column;
    gap: 148px;

    img {
      width: 142px;
      display: block;
    }
  }

  .terms_list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px; 
      color: #fff;
    }
  }

  .info {
    margin-top: 31px;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
  }

  @media screen and (min-width:1024px) {
    height: 444px;

    .inner {
      padding: 34px 49px;
    }

    .flex_wrap {
      flex-direction: row;
      align-items: center;
      gap: 78px;

      img {
        width: 191px;
      }
    }

    .terms_list {
      flex-direction: row;
      align-items: center;
      gap: 43px;

      a {
        font-size: 18px;
        line-height: 25px;
      }

      li {
        position: relative;

        &:not(:last-child) {
          &::after {
            content: "";
            display: block;
            width: 1px;
            height: 20px;
            position: absolute;
            background-color: #fff;
            right: -21px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    .info {
      margin-top: 42px;
      font-size: 18px;
      line-height: 25px;
    }
  }
}