.container {
    .visual_banner {
        position: relative;

        img {
            width: 100%;
            min-height: 650px;
            object-fit: cover;
            display: block;
        }

        .text_box {
            position: absolute;
            top: 76px;
            padding: 0 42px;
            display: grid;
            gap: 19px;
        }

        .title {
            font-size: 40px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.8px;
            color: #043D2F;
        }

        p {
            font-size: 14px;
            font-weight: 300;
            line-height: 16px;
            color: #043D2F;
            max-width: 220px;
        }
    }

    .mission_section {
        text-align: center;
        padding: 48px 16px 55px;
        background-color: #EBEAE5;

        .title {
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.36px;
            color: #043D2F;
            margin-bottom: 25px;
        }

        .sub {
            font-size: 14px;
            font-weight: 300;
            line-height: 18px; /* 18.2px */
            letter-spacing: -0.42px;
            max-width: 700px;
            margin: 0 auto;
            color: #043D2F;
        }
        
        .flex_box {
            margin: 57px 0 55px;
            padding: 0 36px;
            display: flex;
            flex-direction: column;
            gap: 33px;

            img {
                width: 100%;
                margin:0 auto;
                max-width: 554px;
                aspect-ratio: 1/1;
            }
        }
    }

    .guide_line {
        background-color: #EBEAE5;
        padding-bottom: 40px;

        img {
            width: 100%;
            display: block;
        }
    }

    .tagline_section {
        background-color: #EBEAE5;
        padding: 60px;
        text-align: center;

        > h3, > p {
            display: none;
        }

        .img_wrap {
            display: grid;
            gap: 21px;

            img {
                width: 100%;
                display: block;
                max-width: 520px;
                aspect-ratio: 1/1;
                display: block; 
                margin: 0 auto;
            }

            span {
                position: relative;
                &:last-child {
                    p {
                        color: #043D2F;
                    }
                }
                &:first-child {
                    p {
                        font-size: 23px;
                        font-weight: 600;
                    }
                }

                p {
                    font-size: 27px;
                    font-weight: 400;
                    line-height: 32px; /* 32.994px */
                    letter-spacing: -0.55px;
                    color: #EBEAE5;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    padding: 0 16px;
                }
            }
        }
    }

    @media screen and (min-width:1024px) {
        .visual_banner {
            img {
                max-height: 1000px;
            }

            .text_box {
                top: 122px; 
                padding: 0;
                left: 50%;
                transform: translateX(-50%);
                gap: 27px;
            }

            .title {
                font-size: 70px;
                letter-spacing: -1.4px;
            }

            p {
                font-size: 15px;
                line-height: 18px;
                max-width: 345px;
            }
        }

        .mission_section {
            padding-top: 102px;
            padding-bottom: 140px;

            .title {
                font-size: 24px;
                letter-spacing: -0.48px;
                margin-bottom: 30px;
            }

            .sub {
                font-size: 22px;
                line-height: 28px;
                letter-spacing: -0.66px;
            }

            .flex_box {
                flex-direction: row;
                max-width: max-content;
                margin: 119px auto 0;
                gap: 103px;

                img {
                    width: calc((100vw * 554) / 1920);
                }
            }
        }

        .guide_line  {
            padding-bottom: 0;
        }

        .tagline_section {
            padding: 156px 16px 133px;

            > h3, p {
                display: block;
            }

            > h3 {
                font-size: 24px;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.48px;
                color: #043D2F;
                margin-bottom: 22px;
                display: block;
            }

            p {
                font-size: 45px;
                font-weight: 400;
                line-height: 54px; /* 54px */
                letter-spacing: -0.9px;
                color: #043D2F;
            }

            .img_wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 74px;
                margin-bottom: 80px;

                img {
                    width: calc((100vw * 520) / 1920);
                }
            }

            span {
                p {
                    display: none;
                }
            }
        }
    }
}