.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 50;

  .inner {
    padding: 31px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
  }

  .logo {
    width: 54px;
    height: 57px;
    display: block;
    
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .menu_list {
    display: flex;
    align-items: center;
    gap: 58px;
    position: relative;
    top: 5px;

    a {
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.36px;
      color: #BADCD3;
      position: relative;

      &.border {
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: #043D2F;
          position: absolute;
          bottom: -8px;
        }
      }

      &.changeColor {
        color: #063D2F;
      }
    }

  }

  .lnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EBEAE5;
    z-index: 55;
    height: 0;
    overflow: hidden;
    transition: all .9s cubic-bezier(0.57, 0.01, 0.1, 0.99);

    &.show {
      height: 365px;
    }

    .menu_list {
      align-items: flex-start;

      a {
        color: #043D2F;
        margin-bottom: 28px;
        display: block;
        position: relative;
        width: fit-content;

        &.border {
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: #043D2F;
            position: absolute;
            bottom: -8px;
          }
        }
      }
    }
  }

  .lnb_inner {
    padding: 31px 40px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  .shape_icon {
    width: 38px;
    height: 38px;
    margin-right: 77px;
    object-fit: cover;
  }

  .lnb_foot {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: #043D2F;
    position: absolute;
    bottom: 42px;
    left: 95px;
  }

  .depth_menu {
    display: grid;
    gap: 10px;

    li {
      line-height: 20px;
      font-size: 18px;
      font-weight: 400;
      color: #043D2F;
    }
  }

  .lnb_right {
    display: flex;
    align-items: flex-start;

    ul {
      position: relative;
      top: 5px;
    }
  }
}